ion-view.gc-transparent-navbar.search-for-pro.invite-pro
  ion-nav-bar.gc-transparent-nav
    ion-nav-back-button
  ion-nav-title
    | Invite your Professional
  ion-content(scroll="false")
    .gc-page-content
      .gc-invitation-form(
        ng-form=""
        name="invitationForm"
      )
        img(src="img/icons/onboarding/find-pro.png")
        span.gc-hint
          | Invite your Fitness Professional to join GymCloud.
        label.item
          input(
            type="text"
            name="firstName"
            placeholder="First Name"
            required=""
            ng-model="userData.first_name"
          )
        span.gc-error(
          ng-show="invitationForm.firstName.$dirty && invitationForm.firstName.$error.required"
        ) First Name is required

        label.item
          input(
            type="text"
            name="lastName"
            placeholder="Last Name"
            required=""
            ng-model="userData.last_name"
          )
        span.gc-error(
          ng-show="invitationForm.lastName.$dirty && invitationForm.lastName.$error.required"
        ) Last Name is required
          
        label.item
          input(
            type="email"
            name="email"
            placeholder="Email"
            ng-model="userData.email"
          )
        span.gc-error(
          ng-show="invitationForm.email.$error.email"
        )
          | Enter a valid email
          
    button.gc-btn-bordered.gc-select-button(
      ng-disabled="invitationForm.$invalid"
      ng-click="invitePro(userData)"
    ) Next