ion-view.bar-dark
  ion-nav-title
    span.gc-main-title
      | {{ itemsType }}
    span.gc-secondary-title
      | {{ group.name }}
  ion-content(
    ng-show="isEmpty"
    scroll="false"
  )
    .gc-empty-page(
      ng-show="isEmpty"
      class="gc-empty-{{ itemsType }}-list"
    )
      span.gc-empty-text
        | Looks like this {{ itemsType }} templates list is empty

  ion-content(
    ng-hide="isEmpty"
  )
    .gc-list-wrapper
      .list
        a.item.item-icon-left.item-icon-right(
          ng-repeat="item in items | orderBy:'name'"
          ng-click="goToItem(item)"
          ng-hide="item.is_program_part"
        )
          i.gc-icon(class="{{ itemsIcon }}")
          | {{ item.name }}
          i.gc-icon.gc-icon-right-arrow
