ion-view.gc-reset-password
  ion-nav-bar.gc-transparent-nav
    ion-nav-back-button
  ion-nav-title
    | Reset Password
  ion-content
    .list.gc-reset-password-form(
      ng-form="",
      name="resetPasswordForm"
    )
      .gc-instructions
        | Please enter your new password in a boxes below.
      label
        input(
          type="password"
          name="password"
          placeholder="Password"
          ng-minlength="6"
          required=""
          ng-model="password"
        )
        span.gc-error(
          ng-show="resetPasswordForm.password.$dirty && resetPasswordForm.password.$error.required"
        ) Password is required
        span.gc-error(
          ng-show="resetPasswordForm.password.$dirty && resetPasswordForm.password.$error.minlength"
        ) Password minimum length is 6 characters

      label
        input(
          type="password"
          name="password_confirm"
          placeholder="Confirm Password"
          required=""
          ng-model="password_confirmation"
        )
        span.gc-error(
          ng-show="resetPasswordForm.password_confirm.$dirty && password_confirmation != password"
        ) Fields do not match!

    button.gc-btn-bordered.gc-submit-btn(
      ng-disabled="resetPasswordForm.$invalid"
      ng-click="resetPassword(password, password_confirmation)"
    ) Reset
