ion-view.gc-forgot-password
  ion-nav-bar.gc-transparent-nav
    ion-nav-back-button
  ion-nav-title
    | Forgot your password?
  ion-content
    .gc-forgot-password-form(
      ng-form=""
      name="forgotPasswordForm"
      ng-show="emailIsSent == false"
    )
      .gc-instructions
        | Please enter your email address below and we'll email you instructions on how to reset your password.

      label
        input(
          type="email"
          name="email"
          placeholder="Enter email address"
          required=""
          ng-model="email"
        )
        span.gc-error(
          ng-show="forgotPasswordForm.email.$error.email"
        )
          | Enter a valid email
        span.gc-error(
          ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$error.required"
        )
          | Email is required

      button.gc-btn-bordered.gc-submit-btn(
        ng-click="userEmail(email)"
      ) Send

    .gc-instructions(
      ng-show="emailIsSent == true"
    )
      | Your password recovery instructions were sent to your email.